*{
    font-family: 'Roboto';
    font-weight: bold;
}
body{
    margin: 30px 0;   
}

header{
    margin: 0 30px;
    display: block;
}
header nav{
    display: inline-block;
    margin: 10px 0 0 50px;
    vertical-align: middle;
}
.main-menu li{
    display: inline-block;
}

.logo{
    margin-bottom: 20px;
    vertical-align: middle;
}

.main-menu{
    list-style: none;
    margin-bottom: 20px;
}
.main-menu li{
    margin-bottom: 10px;
    margin-right: 25px;
}
.main-menu a{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #3D58A6;
    font-family: Bpg;
}
#active{
    color: #EE4036;
}
.featured{
    margin-top: 40px;
    font-family: 'Roboto';
}
.featured > h3{
    font-size:24px;
    margin-bottom: 20px;
}
.featured-block{
    display: inline-block;
    margin-right: 30px;
    background-color: #F2F2F2;
    width: 579px;
    padding: 30px;
}
.featured-block > h3{
    margin-bottom: 15px;
    font-size: 22px;
    color: #3D58A6;
}
.featured-block > p{
    display: inline-block;
    width: 355px;
    margin-left: 35px;
    line-height: 22px;
    vertical-align: top;
    font-size: 20px;
}
footer{
    margin: 30px 90px;
}
.footer-menu{
    margin-top: 20px;
}
.footer-menu li{
    display: inline-block;
    margin-right: 30px;
}
.footer-menu #first{
    border-right: 1px solid #363E97;
    margin-right: 15px;
    padding-right: 15px;
}
.index{
    margin-left: 90px;
    margin-right: 90px;
}
.contact{
    background-color: #E6E6E6;
    padding: 90px;
    margin: 0;
}
section{
    margin: 20px 30px;
}
.contact-text{
    font-size: 16px;
    font-family: Bpg;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}
.contact-text h3{
    font-weight: bold;
    font-size: 22px;
    color: #3D58A6;
    font-family: Bpg;
    margin-bottom: 10px;
}
.contact-text p .pre{
    color: #808080;
    font-weight: 100;
}
.contact-text p{
    color: #000000;
    font-weight: 500;
    margin-bottom: 5px;
}
#map {
    width: 874px;
    height: 466px;
    display: inline-block;
    background-color: grey;
}
article{
    margin: 20px 0;
}
article .date p{
    display: inline-block;
    vertical-align: middle;
}
article .number{
    background-color:#3D58A6;
    padding: 10px;
    display: inline-block;
    font-family: Bpg-Nino;
    font-size: 48px;
    color: #FFFFFF;
}
article .month{
    margin-left: 20px;
    font-family: Bpg-Nino;
    font-size: 22px;
    color: #3D58A6;
}
article .title{
    margin-top: 10px;
    font-family: Bpg-Nino;
    font-size: 20px;
    color: #000000;
}
article img{
    margin-top: 15px;
    margin-right: 40px;
    vertical-align: top;
}
article .texts{
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
    width: 900px;
}
article .text{
    margin-top: 10px;
    font-family: Bpg;
    font-size: 16px;
    color: #000000;
}